body {
    background-color: yellow;
    padding: 20px;
}
.title_about {
   
    border: 20px solid green;
    border-radius: 50px;
    text-align: center;
}
.video_about {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
img {
    border: 5px solid red;
    border-radius: 10px;
   
}
